body {
	background-color: #6c8cbd;
}

h1 {
	color: white;
    text-shadow: blue 1px 0 10px;
}

h2 {
	background:linear-gradient(to right, #f0f0f0, #000);
	margin: 5px;
}

table {
	border-collapse: collapse;
}

table > thead > tr > th {
	text-align: left;
	border-bottom: 1px solid;
}